body {
    margin: 0;
}

.checked {
    color: orange;
}

/* Navbar */

.navbar {
    display: flex;
    background-image: linear-gradient(#FFA833, #FFD723);
    padding: 1rem;
}

.logo {
    font-weight: bold;
    font-size: 5rem;
    padding: 1rem;
    text-decoration: none;
    margin-left: 5%;
}

.logo a {
    color: #2B1C11;
}

.logo a:hover {
    transition: 500ms;
    color: #FF321E;
    text-decoration: none;
}

.navbar-links {
    font-weight: bold;
    font-size: 3rem;
    padding: 1rem;
    text-decoration: none;
    margin-left: 60%;
}

.navbar-links ul {
    padding-top: 1.4rem;
    display: flex;
}

.navbar-links ul li {
    list-style: none;
    margin: 0 0 0 3rem;
}

.navbar-links ul li a {
    color: #2B1C11;
}

.navbar-links ul li a:hover {
    transition: 500ms;
    color: #FF321E;
    text-decoration: none;
}

/* Index */

.banner-div{
    text-align: center;
}

.banner-div:hover{
    cursor: pointer;
}

.second-banner-div {
    text-align: center;
    margin: 8rem 0 0 0;
}

.index-paragraph {
    font-weight: bold;
    font-size: 3rem;
}

.cliente-avaliacao-div-pai {
    background-image: linear-gradient(#FBBB33, #FFE2A4);
}

.cliente-avaliacao-div {
    display: flex;
    justify-content: space-evenly;
    padding: 2rem 0 8rem 0;
}

.recomendacao-paragraph {
    text-align: center;
    font-weight: bold;
    font-size: 3.5rem;
    padding: 6rem 0 2rem 0;
}

.cliente-nome {
    font-weight: bold;
    font-size: 4rem;
}

.cliente-avaliacao-caixa {
    border-style: groove;
    border-color: #000;
    border-radius: 4rem;
}

.cliente-nome-foto-caixa{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 2rem 0 0 0;
}

.cliente-frase-div {
    padding: 3rem;
    text-align: center;
    align-items: center;
}

.cliente-frase {
    margin: 0 0 1rem 0;
    font-weight: bold;
    font-size: 2rem;
}

.cliente-imagem-div img{
    height: 170px;
    width: 200px;
}

#star-rating {
    font-size: 2rem;
}

#second-banner {
    padding: 3rem 0;
}

/* Cervejas */

#cerveja-display {
    padding: 20px 0 0 0;
    text-align: center;
    border-bottom-style: groove;
    border-color: #FCC666;
    color: black;
    margin: 0 0 2rem 0;
}

    #cerveja-display:hover {
        transition: 400ms;
        text-decoration: none;
        background: #E9E9E9;
    }

.cerveja-marca {
    font-weight: bold;
    font-size: 40px;
}

.cerveja-mililitros {
    font-size: 2rem;
    margin: 15px 0 15px 0;
}

.cerveja-preco {
    font-weight: bold;
    font-size: 35px;
    color: #FFA200;
    margin: 15px 0 15px 0;
}

    .cerveja-preco:hover {
        transition: 400ms;
        color: #FFA200;
    }

/* Detalhes */

.details-label {
    font-size: 3rem;
    font-weight: bold;
}

.details-value {
    font-size: 20px;
    margin: 0 0 2rem 0;
}

#details-value-id {
    border-bottom-style: groove;
    border-color: #FFBB42;
    padding: 0 0 3rem 0;
    color: orange;
    font-weight: bold;
    font-size: 3rem;
}

#marca-value-label {
    font-size: 3rem;
}

.details-dl {
    text-align: center;
}

.voltar-button {
    text-align: center;
    margin: 5rem 0 0 0;
}

    .voltar-button a {
        font-weight: bold;
        font-size: 3rem;
        padding: 2rem;
        border-radius: 15px;
        color: white;
        background-image: linear-gradient(#FFA200, #FFBB45);
    }

        .voltar-button a:hover {
            transition: 200ms;
            border-style: groove;
            text-decoration: none;
            color: #FFA200;
            background: white;
        }

/* Footer */

footer {
    padding: 6rem 0;
    background-image: linear-gradient(#FFA833, #FFD723);
}

.footer-first-father-div {
    display: flex;
}

.footer-left-div {
    margin: 0 0 0 8rem;
    max-width: 40%;
    width: 40%;
    text-align: center;
    align-items: center;
}

.footer-left-label {
    color: #2B1C11;
    font-weight: bold;
    font-size: 2.4rem;
    margin: 0 2rem 2rem 2rem
}


.footer-right-div {
    display: flex;
    text-align: center;
    align-items: center;
}

.footer-right-div-label {
    margin: 0 2rem;
    color: #2B1C11;
    font-weight: bold;
    font-size: 2rem;
}

.footer-right-div-label:hover {
    transition: 500ms;
    cursor: pointer;
    color: #FFF;
}

.footer-social-media-div {
    margin: 4rem 0 0 0;
    text-align: center;
    align-items: center;
}

    .footer-social-media-div p {
        color: #2B1C11;
        margin: 3rem 0;
        font-weight: bold;
        font-size: 2.8rem;
    }

.footer-div-icons a {
    font-size: 4rem;
    color: white;
    margin: 10px 0 0 20px;
}

.footer-div-icons a:hover {
    text-decoration: none;
}
