
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>


<address>
   Rua Campos de Odin 2599<br />
    Valhalla, CEP 98052-6399<br />
    <abbr title="Phone">Fone:</abbr>
    425.555.0100
</address>

<address>
    <strong>Support:</strong>   <a href="CervejariaVikins@gmail.com">CervejariaVikins@gmail.com</a><br />
    <strong>Duvidas:</strong> <a href="Wellingtonfsbr@gmail.com">Wellingtonfsbr@gmail.com</a>
</address>