@{
    ViewBag.Title = "Home Page";
}

<div class="first-banner-div">
    <img src="~/Content/Imagens/Banner1.png" />
</div>

<div class="second-banner-div">
    <p class="index-paragraph">
        Cervejas artesanais feita pelos Deuses
    </p>

    <div class="footer-div-icons">
        <img src="~/Content/cerveja3.png" width="1000" height="500" />
    </div>
</div>


